node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.emulate
.vite-hooks
.wrangler
.output
.vinxi
__unconfig*
todos.json
slackManifest.json
playwright-report
test-results

.dev.vars*
!.dev.vars.example
!.env.example
